SERVER_PORT=8084
SPRING_PROFILES_ACTIVE=local

JWT_SECRET=your_super_secret_jwt_key_here

AUTH_SERVICE_URL=http://localhost:8082
USER_SERVICE_URL=http://localhost:8081
ORDER_SERVICE_URL=http://localhost:8083
